body {
    /* CSS Reset */
    margin: 0px;
    padding: 0px;
    background: url('/img/workout-6783020_1280.webp') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

.header-section {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 0;
    left: 0;
    flex-direction: column;
    color: red;
    font-size: 20px;
    width: 10rem;
    text-align: center;
    /* overflow: hidden; */
}

.left img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 100%;
    margin: auto;
    margin: 1rem;
}

.left .name {
    margin: auto;
}

.navbar-section {   
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90rem;
    border: 3px solid blue;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .list{
    color: grey;
    margin: 0 1.5rem;
    list-style: none;
    border: 1px solid black;
    border-radius: 1.3rem;
    background-color: rgb(106, 100, 112);
    padding: 0.9rem 1rem;
    font-size: 1.2rem;
    width: 6rem;
    text-align: center;
}
.navbar .list a{
    text-decoration: none;
}
.navbar .list:hover {
    background-color: yellow;
    color: red;
}

.navbar .list:hover{
    background-color: aqua;
    color: grey;
}

.btn {
    margin: 10px 9px;
    background-color: white;
    padding: 4px 8px;
    border: 3px solid red;
    border-radius: 8px;
    font-size: 20px;
    /* font-family: 'Times New Roman', Times, serif; */
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(255, 203, 203);
}

.container {
    /* color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    /* margin: 5rem 2rem; */
    padding: 2rem 3.2rem;
    border: 2px solid rgba(0, 221, 132, 0.642);
    width: 30rem;
}

.formgroup input {
    display: flex;
    text-align: center;
    padding: 1rem 6rem;
    margin: 1rem auto;
    width: 20rem;
    border-radius: 1rem;
    border: 2px solid blueviolet;
    font-size: 1.5rem;
}

.container h1 {
    text-align: center;
    color: yellow
}

.container button {
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    width: 30%;
    margin: 18px auto;
    padding: 10px;
    font-size: 25px;
}